@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: rgba(236, 73, 73, 0.718);
}

.container {
  margin: 0 0.5rem;
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
  background-image: url(../assets/hockey_1.jpg);
  border-radius: 0.5rem;
  background-position: cover;
  min-height: 100vh;
  padding-top: 1.5rem;
}

.container_contact {
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("../assets/hockey_3.jpg");
  border-radius: 0.5rem;
  background-size: cover;
  padding-top: 1.5rem;
}

.container_about {
  margin: 0 0.5rem;
  display: flex;
  background-image: url("../assets/hockey_2.jpg");
  border-radius: 0.5rem;
  background-size: cover;
  min-height: 100vh;
  padding-top: 1.5rem;
}

.about {
  margin: 0 0.5rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(236, 73, 73, 0.718);
  border: 0.1rem solid rgb(230, 18, 18);
  border-radius: 1rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
  width: 90%;
  padding: 1rem;
}

.contact {
  margin: 0 0.5rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 73, 73, 0.718);
  border: 0.1rem solid rgb(230, 18, 18);
  border-radius: 1rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
  width: 100%;
  height: 6rem;
  padding: 1rem;
}

.subtitle {
  text-align: center;
  background-color: rgb(75, 148, 225);
  border: solid rgb(236, 73, 73);
  border-top: 0rem;
  border-style: ridge;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
  animation: subtit 4s;
  animation-iteration-count: infinite;
  margin: 0 0.5rem;
}

.subtitle p {
  color: black;
}

@keyframes subtit {
  0% {
    background-color: rgb(75, 148, 225, 0.718);
  }

  25% {
    background-color: rgb(252, 252, 107, 0.718);
  }

  50% {
    background-color: rgb(236, 105, 105, 0.718);
  }

  100% {
    background-color: rgb(113, 207, 113, 0.718);
  }
}

aside {
  background-color: rgba(19, 17, 15, 0.456);
  vertical-align: top;
  border: solid rgb(236, 73, 73);
  border-style: ridge;
  border-radius: 1rem;
  height: fit-content;
  align-content: flex-start;
  margin-left: 0.5rem;
  /*   animation: rotar 6s;
  animation-iteration-count: infinite; */
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  margin: 5rem 0.5rem 0 0.5rem;
  display: flex;
  border: 0.3rem solid rgb(236, 73, 73);
  border-style: ridge;
  border-radius: 0.5rem 0.5rem 0 0;
  min-height: 35vh;
  padding: 1rem;
  background-image: url(../assets/design2_image1.jpg);
  background-size: cover;
  background-position: 0% 30%;
}

h1 {
  vertical-align: top;
  font-size: 2rem;
  text-align: left;
  margin-top: -90px;
  text-shadow: 3px 2px rgba(232, 223, 223, 0.489);
}

nav {
  position: relative;
  min-height: 5vh;
  padding: 0.5rem;
  position: absolute;
  right: 10px;
  margin-top: -47px;
  display: flex;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.self {
  background-color: rgb(233, 163, 163);
  color: rgb(227, 244, 202);
}

nav a {
  width: 6rem;
  height: 2rem;
  color: greenyellow;
  background-color: rgb(236, 73, 73);
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(230, 18, 18);
  text-align: center;
  font-weight: bolder;
  padding-top: 0.3rem;
}

nav>a:hover {
  transition: linear 0.7s;
  transform: scale(1.2, 1.2);
}

a:active {
  background-color: black;
}

main {
  min-height: 80vh;
  padding: 0.2rem;
}

article h2,
h3 {
  color: greenyellow;
  margin: 1rem 0 0.5rem 0;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.489);
}

section {
  vertical-align: top;
  background-color: rgb(236, 73, 73, 0.718);
  width: 300px;
  height: 200px;
  border-radius: 1rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
  margin: 0 0.5rem 1.5rem 2rem;
  padding: 0.4rem;
}

div p {
  color: azure;
  text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.489);
}

div ol,
ul {
  margin-left: 1rem;
  color: azure;
  text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.489);
}

div li {
  margin-bottom: 1rem;
}

#sin_punto li {
  margin: 0;
  list-style-type: lower-latin;
}

section:hover {
  transition: linear 1s;
  transform: rotate(5deg);
  background-color: orange;
}

#contact {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#fac,
#add {
  margin: 1rem 0 1.5rem 0;
}

th,
td {
  border: 0.1rem solid rgb(145, 62, 62);
  padding: 0.3rem;
}

tr:nth-child(even) {
  background-color: rgba(137, 43, 226, 0.431);
}

tr:nth-child(odd) {
  background-color: rgba(172, 127, 213, 0.431);
}

tr:hover {
  background-color: rgba(165, 62, 62, 0.496);
}

thead {
  background-color: rgb(234, 134, 201);
}

.map {
  text-align: center;
}

table {
  border-collapse: collapse;
  color: bisque;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
  text-shadow: 2px 2px rgba(48, 47, 37, 0.489);

  @media (max-width: 660px) {
    width: 70%;
  }
}

.maps_icon {
  width: 30px;
}

.mapas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapas iframe {
  width: 400px;
  height: 300px;
  border: 0;
  background-color: rgb(236, 73, 73, 0.718);
  border-radius: 1rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
  margin: 0 0.5rem 1.5rem 2rem;
  padding: 0.4rem;
}

form {
  width: 100%;
  margin: 0 0.5rem 3rem 1rem;
  justify-content: center;
  background-color: rgba(236, 73, 73, 0.718);
  border: 0.1rem solid rgb(230, 18, 18);
  border-radius: 1rem;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
  color: bisque;
  text-shadow: 2px 2px rgba(48, 47, 37, 0.489);
  padding: 1rem;
}

#date2 {
  width: 20%;
}

#select,
.input_styles {
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 0.6rem;
  border: none;
  width: 50%;
}

#select {
  width: 25%;
}

#date,
#zip {
  width: 90%;
}

fieldset {
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgb(225, 210, 210);
  border-radius: 1rem;
  margin: 0 0 2rem 0;
  background-color: rgba(137, 43, 226, 0.431);
}

legend {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="submit"] {
  background-color: #ff3f38;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.358);
}

label {
  margin: 0 0.3rem 0.3rem 0;
}

label span {
  color: rgb(166, 198, 217);
}

.personal label {
  display: flex;
  flex-direction: column;
}

.label_flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 760px) {

  #date2,
  #select,
  .input_styles {
    width: 100%;
  }

  header {
    margin: 3rem 0.5rem 0 0.5rem;
  }

  .mapas iframe {
    width: 300px;
    height: 200px;
  }

  h1 {
    margin-top: -60px;
    font-size: 1.3rem;
    margin-left: 4.5rem;
  }

  table {
    width: 80%;
  }

  nav {
    margin-top: -17px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8rem;
  }

  .container_contact,
  .container {
    margin: 0.2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}